<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babbage</title>
</head>

<body>
    <header class="container">
        <strong>
            <h1>Charles Babbage</h1>
        </strong>
        <img src="/img/babage.jpg" alt="babage" width="500">
        <div></div>

        <strong>Charles Babbage fue un matemático y científico de la computación británico.​ <br> Diseñó y desarrolló
            una calculadora mecánica capaz de calcular tablas de <br> funciones numéricas por el método de
            diferencias.</strong>
        <div></div>
        <br>
        <h2>DATOS PERSONALES</h2>
        <strong>Nacimiento: 26 de diciembre de 1791
            Londres (Reino de Gran Bretaña) o Walworth (Reino Unido) <br>
            Fallecimiento: 18 de octubre de 1871 (79 años) <br>
            Londres (Reino Unido de Gran Bretaña e Irlanda)
            Sepultura: cementerio de Kensal Green <br>
            Nacionalidad: Británica <br>
            Religión: Cristianismo</strong>
        <br>
        <br>

    </header>
</body>

</html>