<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy berners-lee </title>
</head>
<body>
    <header class="container">
        <strong> <h1>Timothy berners-lee</h1> </strong>
        <img src="/img/berner.jpg" alt="berners-lee" width="500">
        <div></div>
        
        <strong>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un <br> científico de la computación británico, conocido por ser el padre de la <br> World Wide Web. Estableció la primera comunicación entre un cliente <br> y un servidor usando el protocolo HTTP en diciembre de 1990.</strong>
    <div></div>
    <br>
    <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento: 8 de junio de 1955 (edad 65 años), Londres, Reino Unido <br>
       Obras notables: World Wide Web
       servidor web
       Hypertext <br> Transfer Protocol
       HTML  <br>
        Nacionalidad: Británica <br>
        Religión: Unitarismo universalista</strong>
    <br>
    <br>
    </header>
    
</body>
</html>