<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur C. Clarke</title>
</head>

<body>
    <header class="container">
        <strong>
            <h1>Arthur C. Clarke</h1>
        </strong>
        <img src="/img/clarke.jpg" alt="Arthur C. Clarke" width="600">
        <div></div>

        <strong>Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un <br> escritor y científico británico.
            Autor de obras de divulgación <br> científica y de ciencia ficción, como <br> la novela 2001: Una odisea del
            espacio, <br> El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del
            espacio</strong>
        <div></div>
        <br>
        <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento: 16 de diciembre de 1917, Minehead, Reino Unido <br>
            Fallecimiento: 19 de marzo de 2008, Colombo, Sri Lanka <br>
            Obras notables:Cita con Rama,
            Las fuentes del paraíso,
            2001: A Space Odyssey <br>
            Nacionalidad: Británica y esrilanquesa <br>
            Religión: Ateismo</strong>
        <br>
        <br>
    </header>

</body>

</html>