<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
</head>
<body>
    <header class="container">
        <strong> <h1>Arthur C. Clarke</h1> </strong>
        <img src="/img/hamilton.jpg" alt="Margaret Hamilton" width="500">
        <div></div>
        
        <strong>Margaret Hamilton es una científica computacional, matemática <br> e ingeniera de Software. Fue directora de la División de Ingeniería de <br> Software del Laboratorio de Instrumentación del MIT, ​ donde con su <br> equipo desarrolló el software de navegación "on-board"<br> para el Programa Espacial Apolo.​​​</strong>
    <div></div>
    <br>
    <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento:  17 de agosto de 1936 (edad 84 años), Paoli, Indiana, Estados Unidos<br>
    Areas notables: Informática teórica, matemática, ingeniera y empresaria <br>
    Área: Ciencias de la computación NASA
    Laboratorio Draper
    MIT Computer <br> Science and Artificial Intelligence Laboratory
    Instituto Tecnológico de Massachusetts  <br> 
        Nacionalidad: Estadounidense <br>
        Educación: 	
        University of Michigan College of Literature, Science, and <br> the Arts
        Earlham college (B.A. en Matemáticas; hasta 1958</strong>
    <br>
    <br>
    </header>
</body>
</html>