<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 
<nav></nav>
<ul type="none">
    <li><a href= "/">Home</a></li>
    <li><a href= "/login">login</a></li>
    <li><a href= "/register">registrate</a></li>
    <li><a href= "/cart">carrito de compras</a></li>






    <h1>bienvenido a mi sitio!</h1>

    <h2>producto 1</h2>
    <img src="https://cdn.pixabay.com/photo/2020/05/21/07/40/poppy-5199556__340.jpg" alt="efdsgd" width="300">
    <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sequi, eum quam numquam deleniti possimus. Iure, excepturi magni iusto libero dolorum tempore harum quidem quisquam eius accusantium id quia culpa.</p>
</div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptates? Maxime ducimus quam dolore placeat accusamus explicabo excepturi adipisci accusantium?</p>
    </div>


    <a href="#relacionados">productos relacionados </a>
    <span> anterior</span>




    <ol type="I" start="5">
        <li>arroz </li>
     <li>aceite</li>
    <li>huevo
    </li>
    
    
    </ol>




  <span>siguiente</span> 
</body>
</html>