<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
</head>

<body>
    <header class="container">
        <strong>
            <h1>Grace Murray Hopper</h1>
        </strong>
        <img src="/img/hopper.jpg" alt="Grace Murray Hopper" width="600">
        <div></div>

        <strong>Grace Murray Hopper fue una científica de la computación y militar <br> estadounidense con grado de
            contraalmirante. Fue pionera en el mundo <br> de las ciencias de la computación y la primera programadora
            que utilizó el Mark I.</strong>
        <div></div>
        <br>
        <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento: 9 de diciembre de 1906, Nueva York, Nueva York, Estados Unidos<br>
            Fallecimiento: 1 de enero de 1992, Condado de Arlington, Virginia, Estados Unidos <br>
            Premios: Medalla Nacional de Tecnología e Innovación, Medalla Presidencial <br> de la Libertad, IEEE Emanuel
            R. Piore Award
            Área: Matemática, oficial naval, <br> informática teórica, profesora de universidad, programadora y física
            <br>
            Obras notables FLOW-MATIC <br>
            Nacionalidad: Estadounidense <br>
            Educación:
            Universidad Yale (1934), Universidad Yale (1930),<br> Vassar College (1924–1928), The Wardlaw + Hartridge
            School</strong>

        <br>
        <br>
    </header>
</body>

</html>