<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 
<nav></nav>
<ul type="none">
    <h1>BIENVENIDOS! </h1>
    <h2>EN ESTA PAGINA PUEDEN AVERIGUAR TODO SOBRE LOS HEROES DE LA INFORMATICA</h2>
    <h3>ESCOJA SU FAVORITO!</h3>
    <li><a href= "/babbage">Charles Babbage</a></li>
    <li><a href= "/berners-lee ">Tim Berners-Lee</a></li>
    <li><a href= "/clarke">Arthur C. Clarke</a></li>
    <li><a href= "/hamilton">Margaret Hamilton</a></li>
    <li><a href= "/hopper">Grace Murray Hopper</a></li>
    <li><a href= "/lovelace">Ada Lovelace</a></li>
    <li><a href= "/turing">Alan Turing</a></li>

</body>
</html>