<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>

<body>
    <header class="container">
        <strong>
            <h1>Arthur C. Clarke</h1>
        </strong>
        <img src="/img/lovelace.jpg" alt="Ada Lovelace" width="600">
        <div></div>

        <strong>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta <br> Ada Byron y conocida
            habitualmente como Ada Lovelace, fue una matemática y escritora <br> británica, célebre sobre todo por su
            trabajo acerca de la calculadora de uso general <br> de Charles Babbage, la denominada máquina
            analítica</strong>
        <div></div>
        <br>
        <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento: 10 de diciembre de 1815, Londres, Reino Unido<br>
            Fallecimiento: 27 de noviembre de 1852, Marylebone, Londres, Reino Unido <br>
            Areas notables:Matemática, programadora, poeta, informática teórica, <br> inventora, traductora, escritora e
            ingeniera <br>
            <br>
            Nacionalidad: Britanica <br>
            Educación: Alumna de Mary Somerville
            Augustus De Morgan</strong>
        <br>
        <br>
    </header>
</body>

</html>