<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <header class="container">
        <strong> <h1>Alan Turing</h1> </strong>
        <img src="/img/turing.jpg" alt="Alan Turing" width="500">
        <div></div>
        
        <strong>Alan Mathison Turing, fue un matemático, lógico, informático teórico,<br> criptógrafo, filósofo, biólogo teórico, maratoniano y corredor <br> de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia <br> de la computación y precursor de la informática moderna</strong>
    <div></div>
    <br>
    <h2>DATOS PERSONALES</h2>
        <strong> Nacimiento:  23 de junio de 1912, Maida Vale, Londres, Reino Unido<br>
            Fallecimiento: 7 de junio de 1954, Wilmslow, Reino Unido <br>
    Ocupación: Informático teórico, matemático, profesor universitario,<br> criptógrafo, lógico, estadístico, maratonista e investigador de la inteligencia artificial <br>
      Obras notables: Computing machinery and intelligence
     problema de la parada <br>
     máquina de Turing.
     Test de Turing<br>
     Distinciones: Royal Society
     Premio Smith (1936) <br>
     Oficial de la Orden del Imperio Británico (1946)
     Miembro de la Royal Society (1951)
     </strong>
    <br>
    <br>
    </header>
</body>
</html>